body {
    color: #333;
    margin: 0 auto;
    line-height: 1.7em;
    overflow-x:hidden;
    background: url(https://googledrive.com/host/0B9LVk4xbDIJTOUNoc3BzSF9idzg/bitcoin-stock-02.jpg) repeat-y center -411px;
}

.l-box {
    padding: 1em;
}

.main-cont{
    width:577px;
}

a{
    color: #009197;
    text-decoration: none;
}
    a h3{
        color: #9B850D;
    }

#accordions li{
    list-style: none;
}
    #accordions h3, #accordions li div a, .no-decor{
        text-decoration: none !important;
    }

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 0.5em;
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #aaa;
        }
        .pure-menu .pure-menu-heading{
            text-transform: none;
        }

.block{
    display: block;
}

.right{
    float: right;
}
    .left{
        float: left;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
    .center{
        text-align: center;
    }
    .auto{
        margin: auto;
    }

.testi{
    margin: 0;
    font-family: 'Nothing You Could Do', cursive;
}

.orange-bg{
    background: orange !important;
}

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
}
    .splash .splash-head {
        font-size: 300%;
        margin: 0em 0;
        line-height: 1.2em;
    }
    .splash .splash-subhead {
        color: #999;
        font-weight: 300;
        line-height: 1.4em;
    }
    .splash .primary-button {
        font-size: 150%;
    }

.content, div, .pure-u-1, .pure-u-1-2, p, span, h1{
    font-weight: 400; 
    font-family: 'Carrois Gothic SC', sans-serif;
}
.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}

.logo{
    opacity: 0.444;
    width: 132px;
    border: 1px solid #999;
    padding: 22px 22px 22px 13px;
    margin: 0;
    border-bottom-right-radius: 13px;
    border-top: 8px solid #00E5FF;
    position: fixed;
    background: rgba(255, 255, 255, 0.333);
}
    .logo:hover{
        opacity: 0.888;
    }

.github-ribbon{
    position: fixed;
    top: 0;
    right: 0; 
    border: 0;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
    .ribbon h2 {
        display: inline;
        font-weight: normal;
    }

.yt-embed{
    padding: 9px 0 0;
    border-radius: 13px;
    background: url(https://googledrive.com/host/0BxIxK0gS2WsvcFRFUHZYQ2J0SnM/hexabump.png);
}
    .yt-embed sub{
        color: #BABABA;
        padding: 5px 0 19px 0;
        display: block;
    }

.yui3-accordion-vert .yui3-accordion-section{
    overflow: hidden !important;
}

#skip{
    color: #333 !important;
}

.message{
    margin: 0 auto;
    border: 1px solid #999;
    display: block;
    background: rgba(255, 255, 255, 0.64);
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    padding: 33px;
    border-top: 8px solid #00E5FF;
}

.bitcoin-b{
    width: 39px;
    height: 39px;
    position: absolute;
    margin: -8px 0 0 -12px;
}
    #bitcoin-icon{
        fill: #9B850D;
    }

.bshare-gold{
    color: #9B850D;
}
    .bitcoin-yt{
        margin: 0 0 0 4px;
    }

.op666{
    opacity: 0.666;
}

sub .op666:hover{
    opacity: 0.888;
}

.testimonial{
    padding: 0 13px 33px;
    border: 2px dashed #9B850D;
    width: 95% !important;
    border-radius: 9px;
}

.footer {
    background: rgba(155, 133, 13, 0.76) /* url(https://googledrive.com/host/0B9LVk4xbDIJTOUNoc3BzSF9idzg/signup-icon-1.png) */;
    color: #e1e1e1;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
    .footer a{
        color:#fff;
    }
    .cloudflare-badge{
        margin: 13px 0 0 -111px;
        position: absolute !important;
    }

::-webkit-scrollbar{width:17px;background:#fff;}
::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb{background:rgba(102,51,0,0.2);-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(216,210,206,0.3);}